@supports not ((backdrop-filter: blur(1px)) or (-webkit-backdrop-filter: blur(1px))) {
  .glass-card, .profile-card, .header-bar, #add-link-form, .more-menu {
    background: var(--color-glass-solid) !important;
  }
}
@media (max-width: 600px) {
  .header-bar { padding: 0.4em 0.7em; }
  .main-card { margin-top: 5.5em;}
  .profile-card { right: 0.4em; min-width: 75vw;}
  .glass-card, #add-link-form, .link-row { width: 99vw;}
}
@media (max-width: 480px) {
  .profile-card { min-width: 90vw;}
}